.home {
    display: flex;
    flex-direction: column; /* Align children vertically */
    justify-content: center;
    align-items: center;
    background-color: #DA7308;
    height: 100vh; /* Make the div take up the full viewport height */
    width: 100vw; /* Make the div take up the full viewport width */
  }
  
  .title {
    font-size: 60px;
    font-weight: bold;
    color: #FFE9CF;
    margin-bottom: 20px; /* Add space between title and buttons */
  }
  
  .btn-container {
    margin: 0;
    padding: 0;
    background-color: #FFE9CF;
  }
  
  .home-button {
    font-size: 25px;
    font-weight: bold;
    color: #DA7308;
    background-color: #FFE9CF;
    border: none;
    padding: .8em 1.6em;
    margin: 0 !important;
  }
  
  .home-button:hover {
    background-color: #de9b6a;
  }
  