.home {
  display: flex;
  flex-direction: column; /* Align children vertically */
  justify-content: center;
  align-items: center;
  background-color: #DA7308;
  height: 100vh; /* Make the div take up the full viewport height */
  width: 100vw; /* Make the div take up the full viewport width */
}

.logo{
  max-width: 40%;
  max-height: 40%;
  border: 2px solid #FFE9CF; /* Add a black border */
  border-radius: 30%; /* Make it circular */
  overflow: hidden; /* Ensure image stays within the circle */
  transform: scale(.9); /* Scale down the image slightly */
}

.title {
  font-size: 60px;
  font-weight: bold;
  color: #FFE9CF;
  margin-bottom: 20px; /* Add space between title and buttons */
}

.btn-container {
  margin: 0;
  padding: 0;
  background-color: #FFE9CF;
}

.home-button {
  font-size: 25px;
  font-weight: bold;
  color: #DA7308;
  background-color: #FFE9CF;
  border: none;
  padding: .8em 1.6em;
  margin: 0;
  margin-left: 0 !important;
}

.home-button:hover {
  background-color: #de9b6a;
}

.page-title {
  text-align: center;
  color: #DA7308;
  font-weight: bold;
  font-family: 'Arial', sans-serif;
  margin: 20px auto;
}

@media (max-width: 932px) {
  .btn-container {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    align-items: center; /* Center-align buttons horizontally */
  }

  .home-button {
    margin-top: 15px; /* Add margin between stacked buttons */
    margin-left: 0 !important;
  }

  .disappear{
      background-color: #DA7308;
  }
}

