.nav-logo {
    max-width: 50%;
    max-height: 50%;
}

.nav {
    width: 80vw;
    height: 100%;
}

.nav-container {
    padding: 0;
    margin: 0;
    z-index: 9999;
}

.nav-container a {
    color: #DA7308;
    background-color: #FFE9CF;
    font-size: 22px;
    font-weight: bold;
    padding: 1.5vw;
}

.nav-container a:hover {
    color: white;
    background-color: #de9b6a;
    transition: color .15s ease-in-out, background-color .15s ease-in-out;
}

.word-links a{
    padding: 3.25vw;
}

.navbar-collapse {
    height: 100%;
}

.navbar-brand {
    text-align: center;
    margin: 0;
    width: 20vw;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.33%;
}

.nav-link:visited {
    color: #DA7308;
}

@media (max-width: 992px) {
    .nav-container {
        background-color: #FFE9CF;
    }

    .navbar-toggler {
        margin-right: 1em;
        background-color: #DA7308;
        height: 80%;
        width: auto;
    }

    .navbar-toggler:focus {
        outline: none; /* Remove the outline */
        box-shadow: none; /* Remove the box shadow */
    }

    .navbar-collapse {
        position: absolute;
        right: 0;
         /* Adjust based on the navbar's height */
        top: 100%;
        background-color: #DA7308;
        width: 100%;
        /* Ensure it takes full width */
        text-align: center;
    }

    .nav {
        display: block;
        flex-direction: column;
        /* Stack nav items vertically */
        align-items: right;
        /* Align items to the start (left) */
        width: 100%;
        /* Ensure nav takes full width of the collapse container */
    }

    .nav-link {
        width: 100%;
        /* Each nav-link takes full width */
    }

    .nav-container a {
        font-size: 18px;
    }

    .word-links a{
        padding: 1.3vw;
    }
}