.pick-team {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    font-family: 'Arial', sans-serif;
}

.player-list {
    margin: 20px 0;
}

.player-item {
    background: white;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.05);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    font-weight: bold;
    color: rgb(71, 71, 71);
}

.player-item:hover {
    background-color: #efefef;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.player-item.selected {
    background-color: #fad3a8;  /* A light blue to indicate selection */
    color: #DA7308;  /* Darker text for better contrast on blue background */
}

.start-game-btn {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center;
    width: 50%;
    margin: 20px auto; /* Centers vertically and adds margin on top */
    background-color: #DA7308;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.start-game-btn:hover {
    background-color: #fad3a8;
    color: #DA7308;
}
