.players-page {
    text-align: center;
    padding: 20px;
}
  
.display-players {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; /* Adjust to start items from the left */
    width: 100%;
}

.player-info-container {
    width: calc(25% - 20px); /* Each player takes up 1/3 of the row space with margin adjustment */
    margin: 25px 10px; /* Adjust spacing between players */
}

.add-player-button{
    margin-top: 25% !important;
    margin-bottom: 10% !important;
}

@media (max-width: 768px) {
    .player-info-container {
        width: 45%; /* Each player takes up 45% of the container on smaller screens */
    }
}
