.name {
    color: #fff;
    font-size: 35px;
  }

  .circle{
    display: inline-flex; /* Display as inline block to fit the content */
    justify-content: center;
    align-items: center;
    border-radius: 50%; /* Create a circle by setting border radius to 50% */
    background-color: #DA7308; /* Set background color */
    padding: 15px; /* Add some padding for better visual appearance */
    width: auto; /* Set minimum width to fit content */
    height: auto; /* Set minimum height to fit content */
    aspect-ratio: 1 / 1;
}

.timer {
  text-align: center;
}

.timer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.game-clock {
  margin: 20px auto; /* Center the game clock */
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
  width: 50%;
}

.game-clock h3 {
  background-color: #DA7308;
  color: #fff;
  padding: 15px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

.eg-btn{
  font-size: 18px !important;
}

.player-clock {
  display: inline-block;
  width: 30%;
  margin: 10px;
}

.active {
  outline: 6px solid rgb(29, 193, 29); /* Green outline for active players */
}

.inactive {
  outline: 6px solid red; /* Red outline for inactive players */
}

@media (max-width: 768px) {
  .player-clock {
    width: 45%;
  }
}

  